# ==============================================
# Policy File of /system/binaee_dumpstate Executable File 


# ==============================================
# Type Declaration
# ==============================================

type aee_dumpstate_exec , exec_type, file_type;
type aee_dumpstate ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive aee_dumpstate;
init_daemon_domain(aee_dumpstate)


# 20131122 Add Set Property Rule
allow aee_dumpstate  property_type:property_service set;
