# ==============================================
# Policy File of /system/binapplypatch_static Executable File 


# ==============================================
# Type Declaration
# ==============================================

type applypatch_static_exec , exec_type, file_type;
type applypatch_static ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive applypatch_static;
init_daemon_domain(applypatch_static)


# 20131122 Add Set Property Rule
allow applypatch_static  property_type:property_service set;
