# ==============================================
# Type Declaration
# ==============================================

type bluetooth, domain;

# ==============================================
# Android Policy Rule
# ==============================================

# bluetooth subsystem
permissive bluetooth;
app_domain(bluetooth)
# unconfined_domain(bluetooth)


# ==============================================
# NSA Policy Rule
# ==============================================

# bluetooth subsystem
permissive bluetooth;
# app_domain(bluetooth)
# unconfined_domain(bluetooth)


# ==============================================
# MTK Policy Rule
# ==============================================

permissive bluetooth;
# 20131024 Sanity_01
allow bluetooth bluetooth_data_file:file { read lock getattr open setattr };


# 20131024 Sanity_02
allow bluetooth bluetooth_data_file:dir search;


# 20131024 CTS_01
allow bluetooth bluetooth_data_file:dir search;
allow bluetooth device:chr_file { read ioctl open };
allow bluetooth system_data_file:file append;


# 20131024 Sanity_03
allow bluetooth bt_int_adp_socket:sock_file write;
allow bluetooth mtkbt:unix_dgram_socket sendto;


# 20131024 Sanity_04
allow bluetooth input_device:chr_file { read write open };


# 20131024 CTS_02
allow bluetooth bluetooth_data_file:dir getattr;
allow bluetooth bluetooth_data_file:file write;
allow bluetooth input_device:chr_file ioctl;


# 20131028 CTS_03
allow bluetooth bluetooth_data_file:dir { write create add_name setattr };
allow bluetooth dumpstate:fd use;
allow bluetooth mtkbt:binder call;
allow bluetooth mtkbt:fd use;
allow bluetooth system_data_file:file write;


# 20131028 CTS_04
allow bluetooth bluetooth_data_file:dir { read open };
allow bluetooth bluetooth_data_file:file { create ioctl };
allow bluetooth dumpstate:unix_stream_socket { read write };


# 20131028 CTS_13
allow bluetooth system_data_file:dir { write add_name };
allow bluetooth system_data_file:file create;


# 20131119 FeatureSQC
allow bluetooth adbd:unix_stream_socket setopt;
allow bluetooth bluetooth_data_file:dir remove_name;
allow bluetooth bluetooth_data_file:file { rename unlink };
allow bluetooth mali_device:chr_file { read write getattr open ioctl };
allow bluetooth mtkbt:unix_stream_socket connectto;
allow bluetooth sdcard_external:dir { write create add_name };
allow bluetooth sdcard_external:file { read write getattr open create };
allow bluetooth system_data_file:dir { write add_name };
allow bluetooth system_data_file:file create;


# 20131121 Sanity_QA
allow bluetooth init:unix_stream_socket read;
allow bluetooth logwrapper:fd use;
allow bluetooth logwrapper:process sigchld;
allow bluetooth system_data_file:file setattr;



# 20131122 Add Set Property Rule
allow bluetooth property_type:property_service set;

# 20131213 KKMR1_CTS_01
allow bluetooth dumpstate:unix_stream_socket { getopt getattr };


# 20131213 KKMR1_CQ_01
allow bluetooth aee_aed:process sigchld;
allow bluetooth aee_aed:unix_stream_socket connectto;
allow bluetooth device:chr_file { write getattr };
allow bluetooth dfo_socket:sock_file write;
allow bluetooth dumpstate:unix_stream_socket { getopt getattr };
allow bluetooth featured:unix_stream_socket connectto;
allow bluetooth init:binder call;
allow bluetooth init:unix_stream_socket { write read setopt };
allow bluetooth init_tmpfs:file read;
allow bluetooth logwrapper:fd use;
allow bluetooth logwrapper:process sigchld;
allow bluetooth logwrapper_tmpfs:file read;
allow bluetooth mediaserver:unix_dgram_socket sendto;
allow bluetooth radio_data_file:file { read getattr };
allow bluetooth resmon:fd use;
allow bluetooth sdcard_internal:dir { write remove_name search create add_name };
allow bluetooth sdcard_internal:file { write getattr read create unlink open };
allow bluetooth self:netlink_socket { read bind create };


# 20131213 KKMR1_CQ_CTS_02
allow bluetooth aee_aed:fd use;
allow bluetooth aee_aed:process sigchld;
allow bluetooth aee_aed:unix_stream_socket connectto;
allow bluetooth device:chr_file { write getattr };
allow bluetooth init:binder call;
allow bluetooth init:unix_dgram_socket sendto;
allow bluetooth init:unix_stream_socket { write setopt };
allow bluetooth init_tmpfs:file read;
allow bluetooth mediaserver:unix_dgram_socket sendto;
allow bluetooth sdcard_internal:dir { write search create add_name };
allow bluetooth sdcard_internal:file { read write getattr open create };

