# ==============================================
# Policy File of /system/xbincpueater Executable File 


# ==============================================
# Type Declaration
# ==============================================

type cpueater_exec , exec_type, file_type;
type cpueater ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive cpueater;
init_daemon_domain(cpueater)


# 20131122 Add Set Property Rule
allow cpueater  property_type:property_service set;
