# ==============================================
# Type Declaration
# ==============================================

type dhcp, domain;
type dhcp_exec, exec_type, file_type;
type dhcp_data_file, file_type, data_file_type;
type dhcp_system_file, file_type, data_file_type;

# ==============================================
# Android Policy Rule
# ==============================================

permissive dhcp;

init_daemon_domain(dhcp)
net_domain(dhcp)
# unconfined_domain(dhcp)

type_transition dhcp system_data_file:{ dir file } dhcp_data_file;


# ==============================================
# NSA Policy Rule
# ==============================================

permissive dhcp;

# init_daemon_domain(dhcp)
# net_domain(dhcp)
# unconfined_domain(dhcp)

type_transition dhcp system_data_file:{ dir file } dhcp_data_file;


# ==============================================
# MTK Policy Rule
# ==============================================

permissive dhcp;

# 20131122 Add Set Property Rule
allow dhcp property_type:property_service set;
