# ==============================================
# Policy File of /system/bindumpsys Executable File 


# ==============================================
# Type Declaration
# ==============================================

type dumpsys_exec , exec_type, file_type;
type dumpsys ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive dumpsys;
init_daemon_domain(dumpsys)


# 20131122 Add Set Property Rule
allow dumpsys  property_type:property_service set;
