# ==============================================
# Policy File of /sbine2fsck Executable File 


# ==============================================
# Type Declaration
# ==============================================

type e2fsck_exec , exec_type, file_type;
type e2fsck ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive e2fsck;


# 20131122 Add Set Property Rule
allow e2fsck  property_type:property_service set;
