# ==============================================
# Policy File of /system/binfbconfig Executable File 


# ==============================================
# Type Declaration
# ==============================================

type fbconfig_exec , exec_type, file_type;
type fbconfig ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive fbconfig;
init_daemon_domain(fbconfig)


# 20131122 Add Set Property Rule
allow fbconfig  property_type:property_service set;
