# ==============================================
# Policy File of /system/binfsck_msdos_mtk Executable File 


# ==============================================
# Type Declaration
# ==============================================

type fsck_msdos_mtk_exec , exec_type, file_type;
type fsck_msdos_mtk ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive fsck_msdos_mtk;
init_daemon_domain(fsck_msdos_mtk)


# 20131122 Add Set Property Rule
allow fsck_msdos_mtk  property_type:property_service set;
