# ==============================================
# Type Declaration
# ==============================================

type hostapd, domain;
type hostapd_exec, exec_type, file_type;

# ==============================================
# Android Policy Rule
# ==============================================

permissive hostapd;

init_daemon_domain(hostapd)
net_domain(hostapd)
# unconfined_domain(hostapd)


# ==============================================
# NSA Policy Rule
# ==============================================

permissive hostapd;

# init_daemon_domain(hostapd)
# net_domain(hostapd)
# unconfined_domain(hostapd)


# ==============================================
# MTK Policy Rule
# ==============================================

permissive hostapd;

# 20131122 Add Set Property Rule
allow hostapd property_type:property_service set;

# 20131213 KKMR1_CQ_01
allow hostapd cgroup:dir add_name;
allow hostapd device:chr_file { read ioctl open };
allow hostapd kernel:system module_request;
allow hostapd linker_exec:file read;
allow hostapd netd:fd use;
allow hostapd netd:fifo_file { read write };
allow hostapd netd:netlink_kobject_uevent_socket { read write };
allow hostapd netd:netlink_nflog_socket { read write };
allow hostapd netd:netlink_route_socket { read write };
allow hostapd netd:unix_stream_socket { read write };
allow hostapd self:capability { net_admin net_raw setuid setgid };
allow hostapd self:netlink_route_socket { write nlmsg_write };
allow hostapd self:netlink_socket { write getattr setopt read bind create };
allow hostapd self:packet_socket { write read create };
allow hostapd system_server:unix_dgram_socket sendto;
allow hostapd system_wpa_socket:sock_file write;
allow hostapd wifi_data_file:dir { write rmdir setattr remove_name create add_name };
allow hostapd wifi_data_file:file { write read getattr open };
allow hostapd wifi_data_file:sock_file unlink;


# 20131213 KKMR1_CQ_CTS_02
allow hostapd cgroup:dir create;
allow hostapd netd:fd use;
allow hostapd self:capability net_admin;
allow hostapd self:netlink_socket { write read };
allow hostapd self:packet_socket read;
allow hostapd wifi_data_file:sock_file { write create setattr };

