# ==============================================
# Type Declaration
# ==============================================

type keystore, domain;
type keystore_exec, exec_type, file_type;

# ==============================================
# Android Policy Rule
# ==============================================

permissive keystore;

# keystore daemon
init_daemon_domain(keystore)
# unconfined_domain(keystore)


# ==============================================
# NSA Policy Rule
# ==============================================

permissive keystore;

# keystore daemon
# init_daemon_domain(keystore)
# unconfined_domain(keystore)


# ==============================================
# MTK Policy Rule
# ==============================================

permissive keystore;
# 20131024 CTS_01
allow keystore device:chr_file { read ioctl open };
allow keystore keystore_data_file:dir { read write open add_name remove_name };
allow keystore keystore_data_file:file { write rename create open };


# 20131024 CTS_02
allow keystore keystore_data_file:file unlink;


# 20131028 CTS_04
allow keystore keystore_data_file:file read;


# 20131028 CTS_05
allow keystore app_data_file:file write;
allow keystore dumpstate:fd use;
allow keystore dumpstate:unix_stream_socket { read write };
allow keystore keystore_data_file:file getattr;
allow keystore untrusted_app:fd use;


# 20131028 CTS_09
allow keystore linker_exec:file read;


# 20131028 CTS_13
allow keystore keystore_data_file:dir search;


# 20131028 CTS_16
allow keystore servicemanager:binder { transfer call };


# 20131119 FeatureSQC
allow keystore linker_exec:file read;



# 20131122 Add Set Property Rule
allow keystore property_type:property_service set;

# 20131213 KKMR1_CQ_01
allow keystore keystore_data_file:dir create;


# 20131213 KKMR1_CQ_CTS_02
allow keystore keystore_data_file:dir create;

