# ==============================================
# Policy File of /system/binkeystore_cli Executable File 


# ==============================================
# Type Declaration
# ==============================================

type keystore_cli_exec , exec_type, file_type;
type keystore_cli ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive keystore_cli;
init_daemon_domain(keystore_cli)


# 20131122 Add Set Property Rule
allow keystore_cli  property_type:property_service set;
