# ==============================================
# Policy File of /system/binmc6420d Executable File 


# ==============================================
# Type Declaration
# ==============================================

type mc6420d_exec , exec_type, file_type;
type mc6420d ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive mc6420d;
init_daemon_domain(mc6420d)


# 20131122 Add Set Property Rule
allow mc6420d  property_type:property_service set;
