# ==============================================
# Policy File of /system/binmdlogger Executable File 


# ==============================================
# Type Declaration
# ==============================================

type mdlogger_exec , exec_type, file_type;
type mdlogger ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive mdlogger;
init_daemon_domain(mdlogger)

# 20131024 Sanity_01
allow mdlogger sdcard_external:dir { write remove_name add_name };
allow mdlogger sdcard_external:file { rename write getattr read create open append };
allow mdlogger servicemanager:binder call;
allow mdlogger system_server:binder { transfer call };


# 20131024 Sanity_02
allow mdlogger sdcard_external:file unlink;


# 20131024 CTS_01
allow mdlogger linker_exec:file { read execute open };
allow mdlogger sdcard_external:dir create;
allow mdlogger sdcard_external:file unlink;
allow mdlogger shell_exec:file { read execute open execute_no_trans };
allow mdlogger system_data_file:dir { write remove_name read add_name open };
allow mdlogger system_data_file:file { rename unlink };
allow mdlogger toolbox_exec:file { read getattr open execute };


# 20131024 Sanity_03
allow mdlogger device:chr_file { read ioctl open };
allow mdlogger property_socket:sock_file write;
allow mdlogger system_data_file:fifo_file { read open };
allow mdlogger system_data_file:file { write open };
allow mdlogger toolbox_exec:file execute_no_trans;


# 20131024 CTS_02
allow mdlogger sdcard_external:file setattr;
allow mdlogger system_data_file:dir rmdir;


# 20131028 CTS_03
allow mdlogger ccci_device:chr_file { read write ioctl open };
allow mdlogger system_data_file:dir create;
allow mdlogger system_data_file:file create;


# 20131028 Sanity_05
allow mdlogger ashmem_device:chr_file execute;


# 20131028 Sanity_07
allow mdlogger am_exec:file { read getattr open execute };


# 20131028 Sanity_08
allow mdlogger aee_aed:unix_stream_socket connectto;
allow mdlogger aee_exec:file { read getattr open execute execute_no_trans };
allow mdlogger am_exec:file execute_no_trans;
allow mdlogger sdcard_external:dir rename;
allow mdlogger zygote_exec:file { read getattr open execute execute_no_trans };


# 20131028 CTS_12
allow mdlogger shell_prop:property_service set;


# 20131119 FeatureSQC
allow mdlogger dalvikcache_data_file:file { write setattr };
allow mdlogger dexopt_exec:file { read execute open execute_no_trans };
allow mdlogger mdlogger_tmpfs:file { write create open getattr };
allow mdlogger sdcard_internal:dir { write remove_name search create add_name };
allow mdlogger sdcard_internal:file { rename setattr read create write getattr open append };
allow mdlogger shell_prop:property_service set;
allow mdlogger system_data_file:fifo_file { create setattr };
allow mdlogger system_data_file:file setattr;



# 20131122 Add Set Property Rule
allow mdlogger  property_type:property_service set;

# 20131213 KKMR1_CQ_01
allow mdlogger block_device:blk_file read;
allow mdlogger init:unix_stream_socket { read write setopt shutdown };
allow mdlogger sdcard_internal:dir rename;
allow mdlogger sdcard_internal:file unlink;
allow mdlogger self:tcp_socket { write read accept };
allow mdlogger system_data_file:file append;
allow mdlogger tmpfs:lnk_file read;
allow mdlogger unlabeled:fifo_file { read open };


# 20131213 KKMR1_CQ_CTS_02
allow mdlogger block_device:blk_file read;
allow mdlogger dalvikcache_data_file:dir { write add_name };
allow mdlogger dalvikcache_data_file:file create;
allow mdlogger init:unix_stream_socket { read write setopt };
allow mdlogger mdlogger_tmpfs:file { rename unlink setattr };
allow mdlogger sdcard_internal:file unlink;
allow mdlogger tmpfs:dir { write remove_name create add_name rmdir };
allow mdlogger tmpfs:fifo_file { read create };
allow mdlogger unlabeled:fifo_file { read open };

