# ==============================================
# Policy File of /system/binpngtest Executable File 


# ==============================================
# Type Declaration
# ==============================================

type pngtest_exec , exec_type, file_type;
type pngtest ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive pngtest;
init_daemon_domain(pngtest)


# 20131122 Add Set Property Rule
allow pngtest  property_type:property_service set;
