# ==============================================
# Policy File of /system/binrequestsync Executable File 


# ==============================================
# Type Declaration
# ==============================================

type requestsync_exec , exec_type, file_type;
type requestsync ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive requestsync;
init_daemon_domain(requestsync)


# 20131122 Add Set Property Rule
allow requestsync  property_type:property_service set;
