# ==============================================
# Policy File of /system/binresize2fs Executable File 


# ==============================================
# Type Declaration
# ==============================================

type resize2fs_exec , exec_type, file_type;
type resize2fs ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive resize2fs;
init_daemon_domain(resize2fs)


# 20131122 Add Set Property Rule
allow resize2fs  property_type:property_service set;
