# ==============================================
# Policy File of /system/binschedtest Executable File 


# ==============================================
# Type Declaration
# ==============================================

type schedtest_exec , exec_type, file_type;
type schedtest ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive schedtest;
init_daemon_domain(schedtest)


# 20131122 Add Set Property Rule
allow schedtest  property_type:property_service set;
