# ==============================================
# Policy File of /system/binsn Executable File 


# ==============================================
# Type Declaration
# ==============================================

type sn_exec , exec_type, file_type;
type sn ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive sn;
init_daemon_domain(sn)

# 20131024 Sanity_02
allow sn sdcard_external:dir search;
allow sn self:capability dac_override;


# 20131024 CTS_01
allow sn sdcard_external:dir search;
allow sn self:capability dac_override;


# 20131028 CTS_16
allow sn device:chr_file read;
allow sn linker_exec:file read;


# 20131028 CTS_17
allow sn device:chr_file { ioctl open };


# 20131119 FeatureSQC
allow sn sdcard_internal:dir search;



# 20131122 Add Set Property Rule
allow sn  property_type:property_service set;

# 20131213 KKMR1_CQ_01
allow sn tmpfs:lnk_file read;

