# ==============================================
# Type Declaration
# ==============================================

#type su_exec, file_type, exec_type;

# ==============================================
# Android Policy Rule
# ==============================================

# File types must be defined for file_contexts.

# No allow rules


# ==============================================
# NSA Policy Rule
# ==============================================

# File types must be defined for file_contexts.

# No allow rules


# ==============================================
# MTK Policy Rule
# ==============================================

