# ==============================================
# Policy File of /system/binsvc Executable File 


# ==============================================
# Type Declaration
# ==============================================

type svc_exec , exec_type, file_type;
type svc ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive svc;
init_daemon_domain(svc)


# 20131122 Add Set Property Rule
allow svc  property_type:property_service set;
