# ==============================================
# Type Declaration
# ==============================================

type system_app, domain;

# ==============================================
# Android Policy Rule
# ==============================================




# ==============================================
# NSA Policy Rule
# ==============================================

#
# Apps that run with the system UID, e.g. com.android.system.ui,
# com.android.settings.  These are not as privileged as the system
# server.
#
permissive system_app;
app_domain(system_app)
# unconfined_domain(system_app)


# ==============================================
# MTK Policy Rule
# ==============================================

permissive system_app;
# 20131024 Sanity_01
allow system_app dalvikcache_data_file:file write;
allow system_app system_data_file:file { write lock setattr };


# 20131024 Sanity_02
allow system_app atci_serv_fw_socket:sock_file write;
allow system_app atci_service:unix_stream_socket connectto;
allow system_app dalvikcache_data_file:file setattr;
allow system_app devmap_device:chr_file { read ioctl open };
allow system_app mali_device:chr_file { read write getattr open ioctl };
allow system_app system_data_file:dir { write add_name };


# 20131024 CTS_01
allow system_app atci_serv_fw_socket:sock_file write;
allow system_app atci_service:unix_stream_socket connectto;
allow system_app dalvikcache_data_file:file setattr;
allow system_app device:chr_file { read ioctl open };
allow system_app devmap_device:chr_file { read ioctl open };
allow system_app dumpstate:unix_stream_socket { read write };
allow system_app keystore:binder call;
allow system_app mali_device:chr_file { read write getattr open ioctl };
allow system_app system_data_file:dir { write create add_name };
allow system_app system_data_file:file append;


# 20131024 Sanity_03
allow system_app system_data_file:dir setattr;
allow system_app system_data_file:file create;


# 20131024 CTS_02
allow system_app proc:file write;


# 20131028 CTS_03
allow system_app dumpstate:fd use;


# 20131028 CTS_04
allow system_app system_data_file:dir remove_name;
allow system_app system_data_file:file { rename ioctl unlink };


# 20131028 CTS_11
allow system_app adbd:unix_stream_socket setopt;


# 20131028 CTS_13
allow system_app property_socket:sock_file write;
allow system_app self:udp_socket { getopt create ioctl getattr };


# 20131119 FeatureSQC
allow system_app adbd:unix_stream_socket setopt;
allow system_app asec_apk_file:file { read getattr open };
allow system_app property_socket:sock_file write;
allow system_app sdcard_internal:dir { read search open };
allow system_app sdcard_internal:file getattr;
allow system_app selinuxfs:dir search;
allow system_app selinuxfs:file { read open };


# 20131121 Sanity_QA
allow system_app devpts:chr_file write;
allow system_app init:unix_stream_socket read;
allow system_app logwrapper:binder { transfer call };
allow system_app logwrapper:fd use;
allow system_app logwrapper:process sigchld;
allow system_app logwrapper:unix_stream_socket read;
allow system_app logwrapper_tmpfs:file read;
allow system_app self:netlink_socket read;



# 20131122 Add Set Property Rule
allow system_app property_type:property_service set;

# 20131213 KKMR1_CTS_01
allow system_app device:chr_file { write getattr };
allow system_app dumpstate:unix_stream_socket { getopt getattr };


# 20131213 KKMR1_CQ_01
allow system_app GoogleOtaBinder:binder call;
allow system_app aal:binder call;
allow system_app aee_aed:fd use;
allow system_app apk_private_data_file:dir getattr;
allow system_app asec_image_file:dir getattr;
allow system_app backup_data_file:dir getattr;
allow system_app cache_file:dir { write remove_name add_name };
allow system_app cache_file:file { create unlink };
allow system_app debugfs:file { read getattr };
allow system_app device:chr_file { write getattr };
allow system_app devpts:chr_file write;
allow system_app dm_agent_binder:binder call;
allow system_app dontpanic_data_file:dir getattr;
allow system_app drm_data_file:dir getattr;
allow system_app dumpstate:unix_stream_socket { getopt getattr };
allow system_app healthd:binder call;
allow system_app init:binder { transfer call };
allow system_app init:unix_stream_socket { write read setopt };
allow system_app init_shell:binder call;
allow system_app init_tmpfs:file read;
allow system_app logwrapper:binder { transfer call };
allow system_app logwrapper:fd use;
allow system_app logwrapper:process sigchld;
allow system_app logwrapper:unix_stream_socket { read write };
allow system_app logwrapper_tmpfs:file read;
allow system_app lost_found_data_file:dir getattr;
allow system_app mtkbt:binder call;
allow system_app nvram_agent_binder:binder call;
allow system_app resource_cache_data_file:dir getattr;
allow system_app self:netlink_socket { write bind create read };
allow system_app thermal_manager_exec:file { read execute open execute_no_trans };
allow system_app vtservice:binder call;


# 20131213 KKMR1_CQ_CTS_02
allow system_app cache_file:dir { write add_name };
allow system_app cache_file:file { write create open };
allow system_app debugfs:file ioctl;
allow system_app device:chr_file { write getattr };
allow system_app init:binder { transfer call };
allow system_app init:unix_stream_socket { write setopt };
allow system_app init_tmpfs:file read;
allow system_app linker_exec:file { read execute open };
allow system_app mediaserver:dir search;
allow system_app mediaserver:file { read getattr open };
allow system_app mtk_disp_device:chr_file { read ioctl open };
allow system_app sdcard_internal:dir { write remove_name create add_name rmdir };
allow system_app sdcard_internal:file { read write create unlink open };
allow system_app shell_data_file:dir search;
allow system_app tmpfs:lnk_file read;

