# ==============================================
# Type Declaration
# ==============================================

type tee, domain;
type tee_exec, exec_type, file_type;
type tee_device, dev_type;
type tee_data_file, file_type, data_file_type;

# ==============================================
# Android Policy Rule
# ==============================================

##
# trusted execution environment (tee) daemon
#

permissive tee;
# unconfined_domain(tee)
init_daemon_domain(tee)


# ==============================================
# NSA Policy Rule
# ==============================================

##
# trusted execution environment (tee) daemon
#

permissive tee;
# unconfined_domain(tee)
# init_daemon_domain(tee)


# ==============================================
# MTK Policy Rule
# ==============================================

permissive tee;

# 20131122 Add Set Property Rule
allow tee property_type:property_service set;
