# ==============================================
# Policy File of /system/bintiny_swapon Executable File 


# ==============================================
# Type Declaration
# ==============================================

type tiny_swapon_exec , exec_type, file_type;
type tiny_swapon ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive tiny_swapon;
init_daemon_domain(tiny_swapon)


# 20131122 Add Set Property Rule
allow tiny_swapon  property_type:property_service set;
