# ==============================================
# Policy File of /system/binuiautomator Executable File 


# ==============================================
# Type Declaration
# ==============================================

type uiautomator_exec , exec_type, file_type;
type uiautomator ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive uiautomator;
init_daemon_domain(uiautomator)


# 20131122 Add Set Property Rule
allow uiautomator  property_type:property_service set;
