# ==============================================
# Policy File of /system/binupdater Executable File 


# ==============================================
# Type Declaration
# ==============================================

type updater_exec , exec_type, file_type;
type updater ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive updater;
init_daemon_domain(updater)


# 20131122 Add Set Property Rule
allow updater  property_type:property_service set;
